extends layout

block content
  div.h-screen.bg-slate-800.text-white
    div.h-full.w-full.flex.flex-col.items-center.justify-center.gap-6
      h1.text-6xl.font-bold= "Erro" + (error.status ? " " + error.status : "")
      h2= message