extends layout

block content
  div.h-screen.bg-slate-800.text-white
    div.h-full.w-full.flex.flex-col.items-center.justify-center.gap-16
      h1.font-bold(class="text-4xl text-center lg:text-8xl") Repositório de Recursos Didáticos
      div(class="flex flex-col md:flex-row gap-4 md:gap-12")
        a(href="/login" class="hover:bg-slate-700 border-2 border-white transition-colors ease-in-out px-5 py-2 rounded-xl shadow-sm shadow-black text-xl md:text-3xl w-48 md:w-64 flex flex-col items-center")
          svg(xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 md:h-12 md:w-12 my-2 md:my-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2")
            path(stroke-linecap="round" stroke-linejoin="round" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1")
          p.text-center Iniciar sessão
        a(href="/register" class="hover:bg-slate-700 border-2 border-white transition-colors ease-in-out px-5 py-2 rounded-xl shadow-sm shadow-black text-xl md:text-3xl w-48 md:w-64 flex flex-col items-center")
          svg(xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 md:h-12 md:w-12 my-2 md:my-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2")
            path(stroke-linecap="round" stroke-linejoin="round" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z")
          p Registar
  div(class="fixed bottom-4 left-1/2 right-1/2 flex flex-col items-center gap-4")
    p.w-max.text-green-600= success
    p.w-max.text-white= info